<div class="well well-sm">
	<ul class="nav nav-pills">
		<li class="{{ selected == 'overview' ? 'active' : '' }}">
			<a href="{{ path(namespace ~ '.manage') }}">
				<i class="glyphicon glyphicon-home"></i>
				{{ ('devture_translation.overview')|trans }}
			</a>
		</li>
		<li class="{{ selected == 'search' ? 'active' : '' }}">
			<a href="{{ path(namespace ~ '.search') }}">
				<i class="glyphicon glyphicon-search"></i>
				{{ ('devture_translation.search')|trans }}
			</a>
		</li>
	</ul>
</div>